{% extends 'base.html' %}
{% load static %}

{% block base %}

<section
	class="page_breadcrumbs cs gradient background_cover color_overlay section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">

				<h2>
					<span class="taxonomy-name-title">Archives: </span>Services
				</h2>
				<ol class="breadcrumb big-spacing darklinks">
					<li class="first-item">
						<a href="{% url 'home' %}">Homepage</a>
					</li>
					<li class="last-item">Services</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls page_content section_padding_top_150 section_padding_bottom_150 columns_padding_25">
	<div class="container">
		<div class="row">


			<div id="content" class="col-sm-12">
				<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
					<div class="isotope-item col-lg-4 col-md-6 col-sm-12 ">
						<article class="vertical-item content-padding with_border text-center">

							<div class="item-media">
								<img width="775" height="517"
									src="/static/07-775x517.jpg"
									class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
							</div>

							<div class="item-content">
								<h4 class="entry-title">
									<a href="/">
										Training </a>
								</h4>
								<div>
									<p>Knowledge is power.<br>To become a consistant profitable trader or invester get trained first.</p>
								</div>
							</div>

						</article>
					</div>
					<div class="isotope-item col-lg-4 col-md-6 col-sm-12 ">
						<article class="vertical-item content-padding with_border text-center">

							<div class="item-media">
								<img width="775" height="517"
									src="/static/02-1-775x517.jpg"
									class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
							</div>

							<div class="item-content">
								<h4 class="entry-title">
									<a href="http://webdesign-finder.com/coinster/services/bitcoin-exchange/">
										Investment Ideas </a>
								</h4>
								<div>
									<p>The term investment various person to person. Here you will get great investment ideas.</p>
								</div>
							</div>

						</article>
					</div>
					<div class="isotope-item col-lg-4 col-md-6 col-sm-12 ">
						<article class="vertical-item content-padding with_border text-center">

							<div class="item-media">
								<img width="775" height="517"
									src="/static/08-775x517.jpg"
									class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""/>
							</div>

							<div class="item-content">
								<h4 class="entry-title">
									<a href="http://webdesign-finder.com/coinster/services/bitcoin-investment/">
										Wealth Creation </a>
								</h4>
								<div>
									<p>It is the art of investing in diversified asset classes to create passive of stable source of income.</p>
								</div>
							</div>

						</article>
					</div>
					<div class="isotope-item col-lg-4 col-md-6 col-sm-12 ">
						<article class="vertical-item content-padding with_border text-center">

							<div class="item-media">
								<img width="775" height="517"
									src="/static/19-775x517.jpg"
									class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""/>
							</div>

							<div class="item-content">
								<h4 class="entry-title">
									<a href="http://webdesign-finder.com/coinster/services/bitcoin-escrow-service/">
										Charting Plateform </a>
								</h4>
								<div>
									<p>Providing you charting plateform which shows potential buy and sell automated generated sygnals. </p>
								</div>
							</div>

						</article>
					</div>
					<div class="isotope-item col-lg-4 col-md-6 col-sm-12 ">
						<article class="vertical-item content-padding with_border text-center">

							<div class="item-media">
								<img width="775" height="517"
									src="/static/20-775x517.jpg"
									class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
							</div>

							<div class="item-content">
								<h4 class="entry-title">
									<a href="http://webdesign-finder.com/coinster/services/bitcoin-mining/">
										Community </a>
								</h4>
								<div>
									<p>To enhance your educational horizon here you will get an oppertunity to communicate with members.</p>
								</div>
							</div>

						</article>
					</div>
					<div class="isotope-item col-lg-4 col-md-6 col-sm-12 ">
						<article class="vertical-item content-padding with_border text-center">

							<div class="item-media">
								<img width="775" height="517"
									src="/static/21-775x517.jpg"
									class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""/>
							</div>

							<div class="item-content">
								<h4 class="entry-title">
									<a href="http://webdesign-finder.com/coinster/services/software-development/">
										Product Development </a>
								</h4>
								<div>
									<p>Provide the essential products to analysis the market trends and tools of its profitabilities.</p>
								</div>
							</div>

						</article>
					</div>
				</div><!-- eof isotope_container -->
			</div>
			<!--eof #content -->

		</div><!-- eof .row-->
	</div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock base %}